<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "style.html" . }}
        <title>
            {{ block "title" .}}
                {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body class = "bg-light">
        <article class="flex flex-column flex-wrap justify-between items-start mw8 center bg shadow-3">
            {{ block "main" . }}
            {{ end }}
            <div class="min-vh-100" />
        </article>
    </body>
</html>
